In [117]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [118]:
personality_scores = pd.read_csv('personality_scores.csv', sep=';')
departments = pd.read_csv('departments.csv', sep = ';')
display(personality_scores)

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
personality_scores['ID'].duplicated().sum()

0

In [120]:
personality_newdata = personality_scores.dropna(axis=1, how='all')

In [121]:
personality_newdata['ID'].nunique() == personality_scores['ID'].nunique()

True

In [122]:
personality_newdata.columns=personality_newdata.columns.str.replace('Section 5 of 6','')
personality_newdata.columns=personality_newdata.columns.str.replace('[','')
personality_newdata.columns=personality_newdata.columns.str.replace(']','')

In [123]:
display(personality_newdata)

,ID,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,...,I often forget to put things back in their proper place,I pay attention to details.,I seldom feel blue (down).,I spend time reflecting on things.,I start conversations.,I sympathize with others' feelings.,I take time out for others.,I talk to a lot of different people at parties.,I use difficult words.,I worry about things.
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 3)","(1, 5)","(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 5)"
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 3)","(3, 3)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 3)"
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 3)","(3, 5)","(4, 5)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 3)","(2, 3)","(1, 1)","(5, 1)","(4, 3)"
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 3)","(1, 3)","(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 3)"

In [124]:
catogories = {
        1: {
            "trait": "Extraversion",
            "key": 1
           },
        2: {
            "trait":"Agreeableness",
            "key": 2
            },
        3: {
            "trait":"Conscientiousness",
            "key": 3
        },
        4: {
            "trait":"Neuroticism",
            "key": 4
        },
        5: {
            "trait":"Intellect/Imagination",
            "key": 5
            }
        }

def sum_personality(item, key, data):
    count = 0
    for column in data.columns:
        score = item[column]
        if type(score) == str:
            result = int(score[4])
            if int(score[1]) == catogories[key]["key"]:
                count += result
    return count

In [125]:
for cat in catogories:

    personality_newdata[catogories[cat]['trait']] = personality_newdata.apply(lambda row: sum_personality(row, cat, personality_newdata), axis=1)

c:\users\cna\miniconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [126]:
display(personality_newdata)

,ID,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,...,I sympathize with others' feelings.,I take time out for others.,I talk to a lot of different people at parties.,I use difficult words.,I worry about things.,Extraversion,Agreeableness,Conscientiousness,Neuroticism,Intellect/Imagination
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 5)",32,48,38,44,44
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 3)",40,48,40,44,34
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,44,40,46,48
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 3)","(2, 3)","(1, 1)","(5, 1)","(4, 3)",36,38,48,36,44
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,"(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 3)",22,44,42,40,30

## Merging Data Frames

In [127]:
display(departments)

        ID Department
0        0       Data
1        1       Data
2        2       Data
3        3       Data
4        4       Data
...    ...        ...
1550  1550    Web dev
1551  1551    Web dev
1552  1552    Web dev
1553  1553    Web dev
1554  1554    Web dev

[1555 rows x 2 columns]

In [128]:
merged_data = personality_newdata.merge(departments, on ='ID', how = 'left')
display(merged_data)

,ID,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,...,I take time out for others.,I talk to a lot of different people at parties.,I use difficult words.,I worry about things.,Extraversion,Agreeableness,Conscientiousness,Neuroticism,Intellect/Imagination,Department
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42,Data
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42,Data
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42,Data
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38,Data
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36,Data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 3)","(1, 1)","(5, 1)","(4, 5)",32,48,38,44,44,Web dev
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 1)","(4, 3)",40,48,40,44,34,Web dev
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,44,40,46,48,Web dev
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 3)","(1, 1)","(5, 1)","(4, 3)",36,38,48,36,44,Web dev
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,"(2, 3)","(1, 1)","(5, 1)","(4, 3)",22,44,42,40,30,Web dev

In [129]:
merged_data.shape[0] == departments.shape[0]

True

### Filter the merged data frame so that you get only the applicants who scored less than 30 on emotional stability, conscientiousness AND agreeableness.

In [130]:
merged_data.loc[(merged_data['Extraversion']<=30) & (merged_data['Intellect/Imagination']<=30) ]

,ID,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,...,I take time out for others.,I talk to a lot of different people at parties.,I use difficult words.,I worry about things.,Extraversion,Agreeableness,Conscientiousness,Neuroticism,Intellect/Imagination,Department
34,34,"(3, 3)","(4, 3)","(3, 1)","(5, 1)","(2, 5)","(5, 5)","(2, 3)","(2, 5)","(5, 1)",...,"(2, 3)","(1, 5)","(5, 3)","(4, 3)",28,32,22,30,26,Web Dev
40,40,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 1)","(5, 3)","(2, 5)","(2, 5)","(5, 3)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 1)",26,44,36,24,30,Web Dev
80,80,"(3, 5)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 1)","(2, 5)","(2, 3)","(5, 3)",...,"(2, 3)","(1, 3)","(5, 1)","(4, 3)",30,38,38,44,28,Web Dev
151,151,"(3, 5)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(1, 1)","(5, 1)","(4, 1)",24,34,48,30,30,Web Dev
175,175,"(3, 5)","(4, 3)","(3, 3)","(5, 3)","(2, 5)","(5, 3)","(2, 5)","(2, 3)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 3)","(4, 3)",26,36,30,30,30,Web Dev
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486,1486,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 3)","(1, 1)","(5, 1)","(4, 5)",20,42,46,34,30,Web dev
1513,1513,"(3, 5)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 1)","(2, 5)","(2, 3)","(5, 5)",...,"(2, 3)","(1, 1)","(5, 1)","(4, 1)",18,34,42,24,30,Web dev
1522,1522,"(3, 3)","(4, 3)","(3, 1)","(5, 3)","(2, 5)","(5, 1)","(2, 5)","(2, 5)","(5, 1)",...,"(2, 3)","(1, 3)","(5, 1)","(4, 1)",22,44,40,20,20,Web dev
1530,1530,"(3, 5)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 3)",...,"(2, 5)","(1, 1)","(5, 1)","(4, 5)",26,50,44,42,24,Web dev
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,"(2, 3)","(1, 1)","(5, 1)","(4, 3)",22,44,42,40,30,Web dev

### Print the ID numbers and departments of these applicants to the screen, and also assign these applicants the tag “high_risk” in a new column. All other applicants get the tag “low_risk”

In [131]:
merged_data['Risk'] = np.where(merged_data['Extraversion']>=30, 'high risk', 'low risk')
display(merged_data[['ID','Department','Risk']])

        ID Department       Risk
0        0       Data  high risk
1        1       Data  high risk
2        2       Data   low risk
3        3       Data  high risk
4        4       Data   low risk
...    ...        ...        ...
1550  1550    Web dev  high risk
1551  1551    Web dev  high risk
1552  1552    Web dev  high risk
1553  1553    Web dev  high risk
1554  1554    Web dev   low risk

[1555 rows x 3 columns]

### Create a new data frame with a count of the number of low and high risk applicants within each department. Let each department be a separate column. In other words, the data frame should look something like this:

In [132]:
merged_data['Department'].unique()

array(['Data', 'Web Dev', 'Copywriting', 'Design', 'Strategy', 'Web dev'],
      dtype=object)

In [134]:
merged_data['Risk'].value_counts()

high risk    907
low risk     648
Name: Risk, dtype: int64

In [142]:
newdata = merged_data[['Risk', 'Department']].groupby(['Risk', 'Department']).size()
pd.DataFrame(newdata)

                         0
Risk      Department
high risk Copywriting  198
          Data         207
          Design        70
          Strategy     252
          Web Dev       89
          Web dev       91
low risk  Copywriting  128
          Data         122
          Design        50
          Strategy     197
          Web Dev       81
          Web dev       70